<h1 class="pageHeading">{{ pageHeading }}</h1>
<div class="textPlacement">
    <p>Hi I'm Tom O'Toole</p>
    <p>Recently completed my final year at Coventry Univesity studying Multimedia Computing BCS. Also completed evening course covering web design. This site is a portfolio of both my personal projects along with projects completed while studing at university.<br><br>
    After taking up running for the last couple of years, competing in several events from 10k’s to full marathons. With races including the BUPA Great North Run, the Two Castles run and the Rotary Shakespeare marathon, as well as doing the locale park run on a regular bases. I decided to take a step up to triathlons, competing in events from sprints to 70.3 triathlons.</p>
</div>