<h1 class="pageHeading">{{ pageHeading }}</h1>
<div class="artWorkImgContainer">
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/xboxtransformerconcept.jpg" alt="Xbox 360 transformer concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept art for a Xbox 360 transformer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/wiitransformerfront.jpg" alt="Wii transformer front concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Front view concept of a Wii transformer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/wiitransformerback.jpg" alt="Wii transformer back concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Back view concept of a Wii transformer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/ps3transformerconcept.jpg" alt="ps3 transformer concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept art for a playstation 3 transformer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/trooperconcept.jpg" alt="trooper concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept of a future trooper.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/alien.jpg" alt="alien concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept art of a alien warrior.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/monkey.jpg" alt="monkey concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept art of a cartoon monkey.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/azurefirstconcepts.jpg" alt="azure character concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept art for azure characters.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/azurecharacterthumbnails1.jpg" alt="azure characters concept thumbnails.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept art thumbnails of some azure character.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/azurecharacterthumbnails2.jpg" alt="azure characters concept thumbnails.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>More concept art thumbnails of some azure character.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/azuresoldier.jpg" alt="azure soldier concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept art of a azure soldier.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/azurecharacters.jpg" alt="azure soldiers concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept art  of some azure soldiers.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/azureenemy.jpg" alt="azure enemy concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept art of azure enemy.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/azureaircraft.jpg" alt="azure aircraft concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept art of some azure aircraftr.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item artWork">
        <div class="itemWrapper">
            <div class="itemImage">
                <img src="image/concept/azureflightsuit.jpg" alt="azure flight suit concept.">
                 <div class="itemText">
                    <h3>Concept</h3>
                    <p>Concept art of a azure flight suit.</p>
                </div>
            </div>
        </div>
    </div>
</div>